@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Barlow Condensed', sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  body {
    background-color: #0b0d17;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer components {
  .app {
    min-height: 100vh;
    width: 100vw;
    background-image: url('../src/assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-position: bottom center;
    grid-template-rows: min-content 1fr;
  }

  .logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
  }

  .navlist {
    gap: clamp(2rem, 5vw, 3rem);
    padding-inline: clamp(3rem, 7vw, 7rem);
    letter-spacing: 2.7px;
    backdrop-filter: blur(1.5rem);
    background: hsl(0 0% 100% / 0.04);
  }

  .btn-active {
    color: white;
    border-bottom: 3px solid white;
  }

  @media (max-width: 639px) {
    .navlist {
      position: fixed;
      inset: 0 0 0 30%;
      padding-top: 118px;
    }
  }

  @media (min-width: 640px) {
    .app {
      background-image: url('../src/assets/home/background-home-tablet.jpg');
      background-position: center center;
    }
    .navlist a:hover {
      border-bottom: 0.2rem solid rgba(255, 255, 255, 0.5);
    }

    .navlist a.active {
      border-bottom: 0.2rem solid white;
    }
  }

  @media (min-width: 1024px) {
    .app {
      background-image: url('../src/assets/home/background-home-desktop.jpg');
    }
    .header::after {
      content: '';
      display: block;
      position: relative;
      height: 1px;
      width: 100%;
      left: 1rem;
      z-index: 1;
      background: hsl(0 0% 100% / 0.25);
      order: 1;
    }
  }
}
